<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WhatsApp Web</title>
<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="{{url_for('static', filename='whatsapp_logo.png')}}" alt="WhatsApp Logo">
      <h1>WhatsApp Web</h1>
    </div>
    <div class="qr-code">
      <img src="{{url_for('static', filename='qr_code.png')}}" alt="QR Code">
    </div>
    <div class="instructions">
      <p>Use o Whatsapp no seu computador</p>
      <ol>
        <li>Abra o aplicativo do WhatsApp em seu Android</li>
        <li>Vá para as configurações tocando na foto do seu perfil, Menu ou Configurações</li>
        <li>Toque em Dispositivos vinculados e depois em Vincular um dispositivo</li>
        <li>Aponte seu telefone para esta tela para capturar o código QR</li>
      </ol>
    </div>
    <button class="button">Get the app</button>
  </div>
</body>
</html>
